@import "styles/colors";

$container-width: 250px;
$container-height: 300px;
$border-radius: 4px;

.SearchResultCard {
  position: relative;
  width: $container-width;
  height: $container-height;
  border-radius: $border-radius;
  cursor: pointer;

  // BEGIN: show details on hover
  color: transparent;
  &:hover {
    color: $text-color-attention;

    .SearchResultCard__img {
      opacity: 0.5;
    }

    .SearchResultCard__details {
      background: rgba(0, 0, 0, 0.7);
    }

    .SearchResultCard__metaData {
      color: $text-color-secondary;
    }
  }
  // BEGIN: show details on hover

  &__img {
    border-radius: $border-radius;
    // @IMPORTANT: provides color for alt text in the event images don't load
    color: $theme-white;
  }

  &__details {
    position: absolute;
    top: 0;
    width: $container-width;
    border-radius: $border-radius $border-radius 0 0;

    padding: 15px;
  }

  &__metaData {
    display: flex;
    gap: 10px;
    font-weight: bold;
  }
}
