@import "styles/colors";

.AppLogo {
  background: $theme-red;
  border: 0.5px solid $theme-maroon;
  border-radius: 4px;
  cursor: pointer;

  color: $theme-white;
  font-weight: bold;
  text-decoration: none;

  &--small {
    font-size: 14px;
    padding: 2px 4px;
  }

  &--medium {
    font-size: 24px;
    padding: 2px 6px;
  }

  &--large {
    font-size: 38px;
    padding: 2px 8px;
  }

  &__darkText {
    color: $theme-black;
  }
}
