@import "styles/colors";

.AppLogo {
  background: $theme-red;
  border: 0.5px solid $theme-maroon;
  border-radius: 4px;
  padding: 2px 8px;
  cursor: pointer;

  color: $theme-white;
  font-weight: bold;

  // unset default anchor/button behaviors
  &:hover {
    filter: unset;
    opacity: unset;
  }
  &:active {
    transform: unset;
  }

  &--small {
    font-size: 14px;
  }

  &--medium {
    font-size: 24px;
  }

  &--large {
    font-size: 38px;
  }

  &__darkText {
    color: $theme-black;
  }
}
