@import "styles/colors";
@import "styles/constants";

.Footer {
  display: flex;
  align-items: center;
  height: $footer-height;
  background: $theme-red;
  color: $theme-white;
  padding: 10px 20px;
}
