@import "styles/colors";

.MediaCard {
  display: flex;
  gap: 20px;
  background-color: $mui-grey;

  &__img {
  }

  &__details {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 500px;

    &__subheader {
      display: flex;
      align-items: center;
      gap: 10px;

      &__rating {
        background: $theme-grey;
        padding: 2px 8px;
        border-radius: 2px;
      }
    }

    &__genres {
      display: flex;
      gap: 4px;

      > small {
        padding: 2px 8px;
        border: 1px solid $theme-grey;
      }
    }

    &__descriptionList {
      display: flex;
      flex-direction: column;
      gap: 2px;

      position: relative;
      &:before {
        content: "";
        position: absolute;
        top: -4px;
        height: 1px;
        width: 100%;
        background: $theme-dark-grey;
      }
    }

    &__imdbLink {
      padding: 2px 8px;
      border-radius: 2px;
      color: $theme-black;
      width: max-content;
      margin-left: auto;

      &:visited {
        color: inherit;
      }

      background: $imdb-yellow;
    }
  }
}

@media only screen and (max-width: 600px) {
  .MediaCard {
    flex-direction: column;

    &__details {
      width: 100%;
      > h1 {
        margin: 0;
      }
    }
  }
}
