@import "styles/colors";
@import "styles/constants";

.Nav {
  display: flex;
  height: $nav-height;
  width: 100vw;
  background: $theme-black;
  color: $theme-white;

  position: fixed;
  box-shadow: 0 0 1px $theme-white;

  > ol {
    display: flex;
    align-items: center;
    list-style: none;

    $gap-between-items: 20px;
    gap: $gap-between-items;
    padding: 10px $gap-between-items;
  }
}
