@import "styles/colors";

// text related classes
.color-primary {
  color: $text-color-primary;
}
.color-secondary {
  color: $text-color-secondary;
}
.color-disabled {
  color: $text-color-disabled;
}
.color-attention {
  color: $text-color-attention;
}
.bold {
  font-weight: bold;
}

// spacing related classes
.margin-top-4 {
  margin-top: 4px;
}
.margin-top-8 {
  margin-top: 8px;
}
.margin-top-12 {
  margin-top: 12px;
}
.margin-top-16 {
  margin-top: 16px;
}
.margin-bottom-4 {
  margin-bottom: 4px;
}
.margin-bottom-8 {
  margin-bottom: 8px;
}
.margin-bottom-12 {
  margin-bottom: 12px;
}
.margin-bottom-16 {
  margin-bottom: 16px;
}
